{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {%for item in group_list%}
        <div class="col">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        Group: {{item.group_name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_1_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_2_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_3_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_4_id)}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}