{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col"><h3>Players that have picked at least 1 team: dfgfdgdgdfgdfg</h3></div>
    </div>
    <table class="table">
        <thead>
        <th>
            Player
        </th>
        <th>
            Picks
        </th>
        </thead>
        <tbody>
        {%for player in players%}
        <tr>
            <td>
                {{player[0]}}
            </td>
            <td>
                {{player[1]}}
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    <div class="row">
        {%for item in group_list%}
        <div class="col-3">
            <table class="table">
                <thead>
                    <th>
                        Group: {{item.group_name}}
                    </th>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {{item.get_country(item.team_1_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_2_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_3_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_4_id)}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}