{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container" style="background-color:white;margin-top:20px;border-radius:14px;border: 1px solid rgb(224, 224, 224);padding: 20px;">
    <form action="#" method="POST">
        <div class="row form-group">
            <div class="input-group">
                <select name="user_dropdown" class="form-select" width="500px">
                {%for item in user_list%}
                    {%if selected_user and item._id == selected_user%}
                    <option value="{{item._id}}" selected>{{item.name}}</option>
                    {%else%}
                    <option value="{{item._id}}">{{item.name}}</option>
                    {%endif%}

                {%endfor%}
                </select>
                <input type="submit" value="Show picks" class="form-control">
            </div>
        </div>
    </form>
<!--    <div class="alert alert-primary" role="alert" style="width:98%;margin-left:10px">-->
<!--        <span>Now showing {{user_email}}'s picks.</span>-->
<!--    </div>-->
    <div class="row">
        {%for item in group_list%}
        <div class="col-3">
            <table class="table">
                <thead>
                    <th>
                        Group: {{item.group_name}}
                    </th>
                    <th>
                        Matches
                    </th>
                    <th>
                        Points
                    </th>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {{item.get_country(item.team_1_id)}}
                    </td>
                    <td>
                        {{item.get_played_by_team(item.team_1_id)}}
                    </td>
                     <td>
                        {{item.get_points_by_team(item.team_1_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_2_id)}}
                    </td>
                    <td>
                        {{item.get_played_by_team(item.team_2_id)}}
                    </td>
                    <td>
                        {{item.get_points_by_team(item.team_2_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_3_id)}}
                    </td>
                    <td>
                        {{item.get_played_by_team(item.team_3_id)}}
                    </td>
                     <td>
                        {{item.get_points_by_team(item.team_3_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_4_id)}}
                    </td>
                    <td>
                        {{item.get_played_by_team(item.team_4_id)}}
                    </td>
                     <td>
                        {{item.get_points_by_team(item.team_4_id)}}
                    </td>
                </tr>
                {%if selected_user%}
                <table class="table table-borderless">
                    <thead>
                    <th>
                        <strong>First pick</strong>
                    </th>
                    <th>
                        <strong>Second pick</strong>
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            {{item.get_first_seed(selected_user, item._id).name}}
                        </td>
                        <td>
                            {{item.get_second_seed(selected_user, item._id).name}}
                        </td>
                    </tr>

                    </tbody>
                </table>
                {%endif%}
                </tbody>
            </table>
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}