{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <form action="#" method="POST">
            <select name="user_dropdown">
            {%for item in user_list%}
                <option value="{{item._id}}">{{item.name}}</option>
            {%endfor%}
            </select>
            <input type="submit" value="Show picks"/>
        </form>
    </div>
    <div class="row">
        {%for item in group_list%}
        <div class="col-3">
            <table class="table">
                <thead>
                    <th>
                        Group: {{item.group_name}}
                    </th>
                    <th>
                        Matches
                    </th>
                    <th>
                        Points
                    </th>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {{item.get_country(item.team_1_id)}}
                    </td>
                    <td>
                        {{item.get_played_by_team(item.team_1_id)}}
                    </td>
                     <td>
                        {{item.get_points_by_team(item.team_1_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_2_id)}}
                    </td>
                    <td>
                        {{item.get_played_by_team(item.team_2_id)}}
                    </td>
                    <td>
                        {{item.get_points_by_team(item.team_2_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_3_id)}}
                    </td>
                    <td>
                        {{item.get_played_by_team(item.team_3_id)}}
                    </td>
                     <td>
                        {{item.get_points_by_team(item.team_3_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_4_id)}}
                    </td>
                    <td>
                        {{item.get_played_by_team(item.team_4_id)}}
                    </td>
                     <td>
                        {{item.get_points_by_team(item.team_4_id)}}
                    </td>
                </tr>
                {%if selected_user%}
                <table>
                    <tbody>
                    <tr>
                        <td>
                            {{item.get_username_by_id(selected_user)}}'s first pick: {{item.get_first_seed(selected_user, item._id).name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{item.get_username_by_id(selected_user)}}'s second pick: {{item.get_second_seed(selected_user, item._id).name}}
                        </td>
                    </tr>
                    </tbody>
                </table>
                {%endif%}
                </tbody>
            </table>
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}