{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {%for item in group_list%}
        <div class="col">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        Group: {{item.group_name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_1_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_2_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_3_id)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{item.get_country(item.team_4_id)}}
                    </td>
                </tr>
                </tbody>
            </table>
            <form action="#" method="POST">
                <!--<input type="text" name="first_seed" placeholder="Enter first seed" value="{{item.get_first_seed(user_id, item._id) if item.get_first_seed(user_id, item._id)}}"> -->
                 <select class="form-control" name="first_seed">
                        {%if item.get_first_seed(user_id, item._id)%}
                        <option selected>{{item.get_first_seed(user_id, item._id)}}</option>
                        {%endif%}
                        <option value="{{item.team_1_id}}">{{item.get_country(item.team_1_id)}}</option>
                        <option value="{{item.team_2_id}}">{{item.get_country(item.team_2_id)}}</option>
                        <option value="{{item.team_3_id}}">{{item.get_country(item.team_3_id)}}</option>
                        <option value="{{item.team_4_id}}">{{item.get_country(item.team_4_id)}}</option>
                 </select>
                <select class="form-control" name="second_seed">
                        {%if item.get_first_seed(user_id, item._id)%}
                        <option selected>{{item.get_second_seed(user_id, item._id)}}</option>
                        {%endif%}
                        <option value="{{item.team_1_id}}">{{item.get_country(item.team_1_id)}}</option>
                        <option value="{{item.team_2_id}}">{{item.get_country(item.team_2_id)}}</option>
                        <option value="{{item.team_3_id}}">{{item.get_country(item.team_3_id)}}</option>
                        <option value="{{item.team_4_id}}">{{item.get_country(item.team_4_id)}}</option>
                </select>
                <!--<input type="text" name="second_seed" placeholder="Enter second seed" value="{{item.get_second_seed(user_id, item._id) if item.get_second_seed(user_id, item._id)}}"> -->
                <input type="hidden" name="group_id" value="{{item._id}}">
                <input type="submit" value="Change picks"/>
            </form>
        </div>
        {%endfor%}
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}